.searchInput {
  display: flex;
  align-items: center;
  width: 100%;
}
.searchInput input {
  width: calc(100% - 100px);
  height: 50px;
  outline: 0;
  border: 2px solid black;
  border-radius: 30px 0 0 30px;
  background-color: white;
  padding: 0 15px;
  font-size: 14px;
}
.searchInput button {
  width: 100px;
  height: 50px;
  background: var(--gradient);
  color: rgb(0, 0, 0);
  background-color: antiquewhite;
  outline: 0;
  border: 2px solid black;
  border-radius: 0 30px 30px 0;
  font-size: 16px;
  cursor: pointer;
}
